@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700');

/*

	AUTHOR: Mark Brouwer, Luuk Horsman

	LEGEND:
			- GLOBAL STYLES
			- MEDEWERKER LOGIN
			- MEDEWERKER DASHBOARD

*/

/* GLOBAL STYLES */
		body { background-color: #f1f3f6; margin: 0; font-family: 'Merriweather Sans', sans-serif;}
		body, section, header, article, main, footer, form, input, a, div, h1 {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				font-weight: normal;
				position: relative;
		}

/* MEDEWERKER LOGIN */
		article.login {
				background-color: #FFF;
				box-shadow: 0 1px 2px rgba(0,0,0,.1);
				width: 40%;
				max-width: 450px;
				min-width: 300px;
				margin: 0 auto;
				margin-top: 10%;
				padding: 10px;
				color: #747474;
				border-top: 4px solid #00999D;
		}

		article.login form input {
				width: 100%;
				margin-top: 20px;
				padding: 10px;
				border-radius: 3px;
				border: none;
				background-color: #e3e3da;
		}

		article.login form input[type="submit"] {
				border: 1px solid #ccc;
				background-color: #fafafa;
				text-transform: uppercase;
				font-weight: bold;
				color: #FFF;
				background-color: #00999D;
		}

		article.login footer {height: 20px; margin-top: 10px;}

/* MEDEWERKER DASHBOARD */

		section.dashboard header {width: 100%; position: fixed; background: #FFF; border-bottom: 1px solid #eaeaea;  z-index: 9999;}
		section.dashboard header div.nav-trigger {
				background: #f7f9fa;
				padding: 10px;
				border-right: 1px solid #eaeaea;
				float: left;
				padding-left: 12px;
		    padding-right: 12px;
				color: #34495e;
				text-align: center;
		}
		section.dashboard header div.nav-trigger:hover {
				cursor: pointer;
				background-color: #f2f5f7;
		}

		section.dashboard nav {
				background: #fff;
				width: 70%;
				position: fixed;
				top: 49px;
				border-right: 1px solid #eaeaea;
				height: 100%;
				min-width: 225px;
				max-width: 270px;

		}

		section.dashboard nav a {
				text-decoration: none;
				font-size: 13.5px;
				font-weight: bold;
				color: #6a6c6f;
				font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		}

		section.dashboard nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
		}

		section.dashboard nav li {
				padding: 15px;
				border-bottom: 1px solid #eaeaea;
				background-color: #F7F9FA;
		}

		section.dashboard nav li:hover {
				background-color: #FFF;
		}
