@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700');

/*

	AUTHOR: Mark Brouwer, Luuk Horsman

	LEGEND:
			- GLOBAL STYLES
			- MEDEWERKER LOGIN
			- MEDEWERKER DASHBOARD

*/

/* GLOBAL STYLES */
		body { background-color: #f3f3f4; margin: 0; font-family: 'Merriweather Sans', sans-serif;}
		body, section, header, article, main, footer, nav, form, input, a, p, div, h1 {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				font-weight: normal;
				position: relative;
		}

/* MEDEWERKER LOGIN */
		article.login {
				background-color: #FFF;
				box-shadow: 0 1px 2px rgba(0,0,0,.1);
				width: 40%;
				max-width: 450px;
				min-width: 300px;
				margin: 0 auto;
				margin-top: 10%;
				padding: 10px;
				color: #747474;
				border-top: 4px solid #1ab394;
		}

		article.login form input {
				width: 100%;
				margin-top: 20px;
				padding: 10px;
				border-radius: 3px;
				border: none;
				background-color: #ebebeb;
		}

		article.login form input[type="submit"] {
				border: 1px solid #ccc;
				background-color: #fafafa;
				text-transform: uppercase;
				font-weight: bold;
				color: #FFF;
				background-color: #1ab394;
		}

		article.login footer {height: 20px; margin-top: 10px;}

/* MEDEWERKER DASHBOARD */

		section.content {
				display: flex;
		}

		section.content nav {
				flex: 1;
				background: red;
				height: 100vh;
				min-width: 230px;
				background-color: #2f4050;
		}


		section.content nav header {font-size: 90%; color: #8095a8; padding: 10px;}
		section.content nav header b {color: #DFE4ED;}

		section.content nav ul {margin: 0; padding: 0; width: 100%;}
		section.content nav a {text-decoration: none;}
		section.content ul li {
				list-style-type: none;
				padding: 0;
				margin: 0;
		}

		section.content li {
				padding: 10px !important;
				padding-top: 15px !important;
				padding-bottom: 15px !important;
				color: #a7b1c2;
				font-size: 90%;
				padding-left: 35px !important;
				position: relative;
		}

		section.content li i {
				position: absolute;
				top: 14px;
				left: 10px;
				font-size: 19px;
		}
		section.content li:hover {
				background: #293846;
				color: #FFF;
				cursor: pointer;
		}

		section.content li.active {
			border-left: 4px solid #1ab394;
			background: #293846;
			color: #FFF;
		}



		section.content main {
				flex: 6;
		}

		section.content main header {
				background: #FFF;
				border-bottom: 1px solid #e7eaec !important;
				padding-top: 55px;
				position: relative;
		}

		section.content main header a {
				color: #333 !important;
				text-decoration: none;
				position: absolute;
				right: 5%;
				top: 25%;
				font-size: 90%;
		}

		section.content main header a:hover {
				text-decoration: underline;
		}

		/* USER OVERZICHT */

		div.users {
			width: 80%;
			max-width: 1200px;
			min-width: 400px;
			margin: auto;
			overflow-x: auto;
			background: #FFF;
			border-radius: 5px;
			border-top: 3px solid #1ab394;
			margin-top: 10px;
	    color: #676a6c;
		}
		div.users h1 {border-bottom: 1px solid #e7eaec; padding: 10px; font-size: 120%;}
		div.users a.new_user_btn {
				background-color: #1ab394;
				color: #fff;
				padding: 7px;
				border-radius: 3px;
				text-decoration: none;
				position: absolute;
				top: 8px;
				right: 60px;
				font-size: 85%;
				font-weight: bold;
				padding-right: 30px;
		}
		div.users a.new_user_btn:hover {background: #1cc09f;}
		div.users a.new_user_btn i {font-size: 15px; position: absolute; right: 9px; top: 8px;}

		div.users table tr {border-top: 1px solid #e7eaec;}
		div.users tr,th, td {text-align: left; padding: 10px; font-size: 93%;}
		div.users table {
				width: 100%;
				margin: auto;
				border-collapse: collapse;
		}

		div.users table td.action {width: 100px;}
		div.users table td.action a {margin-left: 4px;}
		div.users table td.action a i {font-size: 17px; background: #1ab394; color: #FFF; padding: 2px; border-radius: 4px;}
		div.users table td.action a i:hover {background: #1cc09f;}


		/* USER FORMS */

		div.user-form {
				width: 90%;
				min-width: 555px;
				max-width: 750px;
				margin: auto;
				background-color: #FFF;
				color: #676a6c;
				border-top: 3px solid #1ab394;
				border-radius: 5px;
			 	margin-top: 10px;
		}

		div.user-form [class*="form-"] {
        width: 50%;
				float: left;
				padding: 10px;
    }

		div.user-form h1 {padding: 10px; border-bottom: 1px solid #e7eaec;}

		div.user-form input, select {
				width: 100%;
				border: 1px solid lightgray;
				padding: 10px;
				border-radius: 3px;
		}

		div.user-form input[type="radio"] {
				width: 35px;
		}

		div.user-form input[type="submit"] {
				background-color: #1ab394;
				color: #fff;
				border: none;
				padding: 7px;
				border-radius: 3px;
				font-size: 90%;
				font-weight: bold;
				padding-right: 30px;
				margin: 10px;
				width: 47%;
				left: 50%;
		}

		div.user-form div.error {
				padding: 10px;
		}

		div.user-form div.error p {
				color: #D8000C;
				background-color: #FFBABA;
				width: 100%;
				padding: 10px;
				border-left: 3px solid #D8000C;
				border-radius: 3px;
				margin: 0;
				margin-top: 5px;
				font-size: 90%;
				padding-left: 30px;

		}

		div.user-form div.error p i {
				position: absolute;
				font-size: 17px;
				left: 8px;
				top: 11px;
		}
